[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
Roots/Assets/AssetStoreTools*
Roots/Assets/TextMesh Pro*

/.vs/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.vsconfig
*.pidb.meta
Roots/UserSettings*
sysinfo.txt

*.apk
*.unitypackage
